{% extends '@ZedUi/Layout/merchant-layout-centered.twig' %}

{% form_theme form '@ZedUi/Form/form-webcomponent-layout.twig' %}

{% block headTitle %}
    {% if form.vars.data.idSupplier %}
        {{ 'Edit Supplier' | trans }}
    {% else %}
        {{ 'Create Supplier' | trans }}
    {% endif %}
{% endblock %}

{% block content %}
    <web-mp-edit-supplier cloak>
        {{ form_start(form, { action: app.request.requestUri }) }}

        <web-spy-card spy-title="{{ 'Supplier Details' | trans }}">
            {{ form_row(form.children.name) }}
            {{ form_row(form.children.description) }}
        </web-spy-card>

        <web-spy-card spy-title="{{ 'Contact Information' | trans }}">
            {{ form_row(form.children.email) }}
            {{ form_row(form.children.phone) }}
        </web-spy-card>

        <web-spy-card spy-title="{{ 'Status' | trans }}">
            {{ form_row(form.children.isActive) }}
        </web-spy-card>

        <button type="submit" class="btn btn-primary">
            {{ 'Save' | trans }}
        </button>

        {{ form_end(form) }}
    </web-mp-edit-supplier>
{% endblock %}
